@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}

body {
  background-color: #E0FFFF
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

 #TROPICAL, #METROPOLITAN, #SCENIC, #RUSTIC, {
    display: none;
}
